.outer-carousel {
    background: transparent;
}

.inner-carousel {
    display: inline-block;
    overflow: hidden;
    padding: 0px 15px;
    white-space: nowrap
}

.hidden {
    display: none;
}

.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    cursor: pointer;
    margin-top: 100px;
    padding: 10px;
    position: fixed;
}

.right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.left {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#icon_right {
    right: 20px;
}

#icon_left {
    left: 20px;
}

.transition {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

carousel-image {
    -webkit-transition: all .4s ease-in-out;
    cursor: pointer;
}
