body {
    background-color: #14181c;
    color: #97a8b9;
    font-size: 1em;
}

fieldset {
    border-top: 2px solid #97a8b9;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-bottom: 5px;
    margin-right: 5px;
}

canvas {
    width: 100%;
    max-width: 500px;
}

#button-row {
    height: 30px;
}

legend {
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    font-family: inherit;
    font-size: 1em;
}

.poster {
    border-radius: 20px;
    border: solid 5px transparent;
}

.poster:hover {
    border: solid 5px #dad8d8;
}

#now-playing-info {
    padding: 0px 15px; /* top/bottom left/right */
}
#now_playing_poster {
    margin-left: 10px;
}

h3 {
    color: #e5e9eb;
    margin: 5px;
}

h4 {
    color: #97a8b9;
    margin: 5px;
}

h6 {
    border: solid 2px #40bcf4;
    border-radius: 10px;
    color: #40bcf4;
    float: left;
    font-size: .75em;
    margin: 5px;
    padding: 5px;
    width: fit-content;
}

.child {
    float: left;
}

#watch-history-previous {
    left: 10px;
}

#watch-history-next {
    right: 10px;
}

.row {
    width: 100%;
}
