body {
  font-family:Verdana;
  background-color:#1b1a1a;
  color: #b4b1b1
}

fieldset {
    border-top: 2px solid #333;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden
}

h3 {
    color: #808080
}

.child {
    float: left;
    padding: 5px 15px; /* top/bottom left/right */
}